/* Left Section */
.gradient-form {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    padding: 10px;
  }

  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Right Section */
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .right {
    flex: 1;
    padding: 20px;
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    color: white;
  }
  
  /* Mobile responsiveness - stack vertically on screens with a width of 768px or less */
  @media (max-width: 768px) {
    .flex {
      flex-direction: column;
    }
  
    .right {
      min-height: auto;
    }
  }
  