/* Left Section */
.gradient-form {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    padding: 10px;
  }
  
  /* Right Section */
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .right {
    flex: 1;
    padding: 20px;
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    color: white;
  }
  
  /* Mobile responsiveness - stack vertically on screens with a width of 768px or less */
  @media (max-width: 768px) {
    .flex {
      flex-direction: column;
    }
  
    .right {
      min-height: auto;
    }
  }
  